.add-vacation {
    height: 100%;
    overflow-y: auto;
}

.add-vacation input[type="file"] {
    display: none;
}

.add-vacation img {
    width: 300px;
}

.add-vacation #submit-btn {
    margin-bottom: 20px;
}
