.layout {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 5% 92% 3%;
}

.layout > header, .layout > footer {
    border: 1px solid black;
}

.layout > main {
    border: 1px solid black;
}