.login {
    height: 100%;
}

#example {
    border: 1px solid lightblue;
    background-image: linear-gradient(45deg, lightblue, white, lightblue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    margin: auto;
    padding: 10px;
}
